<div class="row">
    <button *ngIf="btn" class=" btn btn-primary col-md-3" (click)="showElements()"> show </button>
    <button *ngIf="!btn" class=" btn btn-primary col-md-3" (click)="createNew()"> create new</button>
</div>

<div *ngIf="btn" class="row">
    <form [formGroup]="appointmentForm"  (ngSubmit)="createNewApp()">
        <div class="row">
            <div class="col">
                <mat-label>ID: </mat-label> <br>
                <mat-form-field>
                    <input  matInput readonly placeholder="id" formControlName="id">
                </mat-form-field>
            </div> <div class="col">
                <mat-label>Date: </mat-label> <br>
                <mat-form-field>
                    <input  matInput type="datetime-local" formControlName="date">
                </mat-form-field>
            </div>
        </div> <div class="row">
            <div class="col">
                <mat-label>Title: </mat-label> <br>
                    <mat-form-field>
                        <input  matInput placeholder="Title" formControlName="title">
                    </mat-form-field>
            </div> <div class="col">
            <mat-label>Details: </mat-label> <br>
                <mat-form-field>
                    <textarea  matInput placeholder="Details" formControlName="details"></textarea>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button type="submit">Submit</button>
    </form>
</div>
<div>
    
</div>